@import 'components/navbars.css';
@import 'components/header-section.css';
@import 'components/variables.css';
@import 'components/about-section.css';
@import 'components/project-section.css';
@import 'components/overlay-section.css';
@import 'components/page-wrapper.css';


body {
    font-family: 'BebasNeue', sans-serif;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    margin: 0;
    box-sizing: border-box;
    transition: .2s background-color ease-in-out;
}

ul {
    display: flex;      /* Makes the list a flex container */
    list-style: none;   /* Removes default list styling */
}