/* Basic reset */
:root {
  font-size: 32px; /* This is typically the default, but can be adjusted */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}

@font-face {
  font-family: 'BebasNeue';
  src: url('../assets/fonts/BebasNeue.ttf') format('truetype'); /* Update the path if necessary */
  font-weight: bolder;
  font-style: normal;
}


body {
  font-family: 'BebasNeue', sans-serif;
  color: #333;
  height: 2000px;
}

ul {
  display: flex;      /* Makes the list a flex container */
  list-style: none;   /* Removes default list styling */
}

.main-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
  padding: 1vh 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px solid #333;
}


.lower-navbar {
  position: fixed;
  bottom: 4vh;
  left: 50%;
  height: 3rem;
  width: auto;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
  padding: 1vh 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%) translateY(100%) scale(0.8); /* Center horizontally */
  opacity: 1;
  z-index: 999;
  transition: .2s;
  bottom: 0;
  outline: 2px solid black;
}


.lower-navbar.visible {
  transform:  translateX(-50%) translateY(0);
  bottom: 4vh; 
}

.navbar__links a {
  color: #333;;
  text-decoration: none;
  font-weight: bold;
  margin: 0 1rem;
}

li a {
  text-decoration: none !important;
  font-weight: bold;
  margin: 0 ;
  padding: 5px; /* Optional: Add padding for better focus visibility */
}

li a:hover {
  color: red; /* Ensure red color on hover too */
}

li a:focus {
  color: blue; /* Highlight when focused */
}

.navbar__links a:hover {
  text-decoration: underline;
}

.content {
  padding: 20px;
  background: #f4f4f4;
  height: 2000px;
}

h1 {
  text-align: center;
  margin: 50px 0;
}

.header {
  display: flex;
  justify-content: space-between; /* Space between content and image */
  padding: 10px; /* Add space inside the grid's outline */
  margin:  1rem; /* Space around the grid for better visibility */
  margin-top: 5rem;
  overflow: hidden; /* Ensure no content overflows */
  margin: 5rem 1rem 1rem 1rem;
}
  

.header__hero {
  flex: 1; /* Take up available space */
  /* margin-right: 2rem; */
  margin: 1rem;
  align-items: center;
  display: flex;
}

.header__hero-text {
  display: inline-block;
  font-size: 7vw;
  text-align: left;
}

.header__separator  {
  width: 2px;
  background-color: #333;
  margin: 0 1rem;
}

.header__image {
  flex: 0 0 25%; /* Ensure this section takes up 30% of the width */
  max-width: 25%; /* Prevent it from growing larger */
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__image  img {
  max-width: 100%; /* Image adapts to container width */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove any inline spacing issues */
}
