:root {
    font-size: 16px;
    --font-size-small: 1.25rem; /* 20px */
    --font-size-medium: 1.5rem; /* 24px */
    --font-size-large: 1.75rem; /* 28px */
    --font-size-huge: 4rem;
    --main-bg-color: #fffffa;
    --main-text-color: #333333;
    --main-navbar-color: rgba(0, 0, 0, 0);
}

.dark_mode{
    --main-bg-color: #333333;
    --main-text-color: #fffffa;
    --main-navbar-color: rgba(0, 0, 0, 0);
}

@media (max-width: 768px) {
    :root {
        font-size: 14px;
        --font-size-small: 1.25rem; /* 18px */
        --font-size-medium: 1.5rem; /* 20.5px */
        --font-size-large: 1.75rem; /* 24.5px */
        --font-size-huge: 2.5rem;
    }
}

@media (max-width: 480px) {
    :root {
        font-size: 12px;
        --font-size-small: 1.25rem; /* 15px */
        --font-size-medium: 1.5rem; /* 18px */
        --font-size-large: 1.75rem; /* 21px */
        --font-size-huge: 2.5rem;
    }
}

.dark_mode_toggle{
    --main-bg-color: #333333;
    --main-text-color: #fffffa;
    --main-navbar-color: rgba(0, 0, 0, 0);
}

.light_mode_toggle{
    --main-bg-color: #fffffa;
    --main-text-color: #333333;
    --main-navbar-color: rgba(0, 0, 0, 0);
}
