.about-section {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the left */
    justify-content: flex-start; /* Ensure content sticks to the top */
    padding: 10px;
    margin: 1rem;
    box-sizing: border-box;
    height: auto; /* Ensure it adapts to content size */
    flex: 1;
    
}

.about-section__text {
    font-weight: 100;
}
