@import '../variables.css';
@import './theme-toggler.css';

  /* Common navbar styles */
.navbar {
  position: absolute;
  height: 3rem;
  background: var(--main-navbar-color);
  backdrop-filter: blur(10px);
  padding: 1vh 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px solid var(--main-text-color);
  font-size: var(--font-size-medium);
}

/* Specific styles for main navbar */
.main-navbar {
  top: 0;
  left: 0;
  width: 100%;
}

/* Specific styles for lower navbar */
.lower-navbar {
  position: fixed;
  bottom: 4vh;
  left: 50%;
  transform: translateX(-50%) translateY(100%) scale(0.8); /* Center horizontally */
  opacity: 1;
  z-index: 999;
  transition: .2s;
  bottom: 0;
}
  
  
  .lower-navbar.visible {
    transform:  translateX(-50%) translateY(0);
    bottom: 4vh; 
  }
  
  .navbar__links a {
    color: var(--main-text-color);
    text-decoration: none;
    font-weight: bold;
    margin: 0 1rem;
    transition: .2s transform ease-in-out;
  }

  .navbar__links a:hover {
    transform: scale(1.2);
  }

  .navbar__links a.muted{
    color: var(--main-text-color);
    opacity: 30%;
  } 

  .navbar__links a.muted:hover {
    transform: none !important;
  }

  li a{
    text-decoration: none !important;
    display: inline-block;
    font-weight: bold;
    margin: 0 ;
    padding: 5px;
  }
  
  li a:hover {
    transform: scale(1.2);
    /* color: red; */
  }
  
  li a:focus {
    color: yellow;
  }
  
  .navbar__links a:hover {
    text-decoration: underline;
  }
  