@import '../variables.css';
@import './theme-toggler.css';

  /* Common navbar styles */
.navbar {
  position: absolute;
  background: var(--main-navbar-color);
  backdrop-filter: blur(10px);
  padding: 1vh 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px solid var(--main-text-color);
  font-size: var(--font-size-medium);
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-links {
  gap: 2rem;
}
   
.navbar-links a {
  color: var(--main-text-color);
  text-decoration: none;
  font-weight: bold;
  transition: .2s transform ease-in-out;
}

.navbar-links a:hover {
  transform: scale(1.2);
}

.navbar-links a.muted{
  color: var(--main-text-color);
  opacity: 50%;
  pointer-events: none;
} 

.navbar-links a.muted:hover {
  transform: none !important;
  pointer-events: none;
}

li a{
  text-decoration: none !important;
  display: inline-block;
  font-weight: bold;
  margin: 0 ;
  padding: 5px;
  font-size: var(--font-size-medium);
}

li a:hover {
  transform: scale(1.2);
  /* color: red; */
}

.navbar-links a:hover {
  text-decoration: underline;
}
  