@import './css/variables.css';

/* General Styling for Project Sections */
.project, .project-detailed {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    width: auto;
    outline: 2px solid var(--main-text-color);
    cursor: pointer;
    text-decoration: none;
    color: inherit; /* Inherits the current text color of the parent */
    font-weight: inherit; /* Ensures the font weight matches the body text */
    font-size: inherit; /* Ensures font size matches the body text */
    transition: transform 0.2s;
}

.project-detailed {
    position: relative;
}

/* Projects Section Styling */
#projects-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    overflow: hidden;
    margin: 4rem 1rem 1rem 1rem;
    height: auto;
}

.project:hover {
    transform: scale(1.05);
}

/* Project Header Styling */
.project h3, .project-detailed h3 {
    margin: 0 0 5px;
    font-size: var(--font-size-huge);
    width: auto;
    white-space: nowrap;
}

.project p, .project-detailed p {
    font-size: 14px;
    width: auto;
}

.project-detailed p {
    margin: 0 0 10px;
}

.project div, .project-detailed div {
    display: flex;
    flex-direction: column;
    width: auto;
}

/* Detailed Project Styling */
.project-detailed {
    background-color: var(--main-bg-color);
    flex-direction: row; /* Ensure horizontal layout */
}

/* Close Button Styling */
.close-detailed {
    position: absolute; 
    top: 1rem;
    right: 1rem; 
    padding: 5px 10px;
    background: none; 
    border: none; 
    font-size: 24px; 
    font-weight: bold; 
    color: var(--main-text-color);
    cursor: pointer; 
    z-index: 10; 
    outline: 2px solid var(--main-text-color);
}

.close-detailed:hover {
    color: red; 
}