@import '../variables.css';

/* General styling for the about section */
.about-section, .programming-section, .modelling-section, .repairing-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
    box-sizing: border-box;
    height: auto;
    flex: 1;
    width: 60%;
    align-self: center;
    margin-bottom: 1rem;
}

.programming-section {
    margin-top: 5rem;
}
/* Header styling */
.title-section {
    font-size: 5vw;
    align-self: center;
    margin-bottom: 1rem;
}

/* Text block for each paragraph */
.text-section {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap:  var(--font-size-large);
    font-size: var(--font-size-large);
    line-height:  var(--font-size-large);
    text-indent:  var(--font-size-large);
}


@media (max-width: 1200px) {
    .about-section, .programming-section, .modelling-section, .repairing-section {
        width: 70%;
        margin-bottom: 1rem;
        
    }
    .text-section {
        gap:  var(--font-size-medium);
        font-size: var(--font-size-medium);
        line-height:  var(--font-size-medium);
        text-indent:  var(--font-size-medium);
    }
}

@media (max-width: 1024px) {
    .about-section, .programming-section, .modelling-section, .repairing-section {
        width: 80%;
        margin-bottom: 1rem;
    }
    .text-section {
        gap:  var(--font-size-small);
        font-size: var(--font-size-small);
        line-height:  var(--font-size-small);
        text-indent:  var(--font-size-small);
    }
}

@media (max-width: 768px) {
    .about-section, .programming-section, .modelling-section, .repairing-section {
        width: 90%;
        margin-bottom: 0rem;
    }
}